$fuente-principal: 'Averia Sans Libre', cursive;
$fuente-tamano: 1rem;
$color-fondo: rgb(0, 0, 0);
$color-texto: rgb(255, 255, 255);
$color-link: rgb(200, 0, 0);
$color-link-activo: lighten($color: $color-fondo, $amount: 50);

